<td scope="row"><%= image_tag restaurant.photo, size: "40x40" if restaurant.photo.attached? %></td>
<td><%= restaurant.name %></td>
<td><%= restaurant.address%></td>
<td><%= restaurant.created_at.strftime("%d/%m/%Y") %></td>